:root {
  --first: #00303b;
  --second: #ff7777;
  --third: #ffce96;
  --fourth: #f1f2da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
header,
main,
footer,
input {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--first);
}

a {
  color: var(--fourth);
  text-decoration: none;
}

a:hover {
  text-decoration: underlin;
}

#container {
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
