<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/master.css" />
    <link rel="stylesheet" href="styles/components/header.css" />
    <link rel="stylesheet" href="styles/components/hamburguer.css" />
  </head>
  <body>
    <header>
      <img
        class="headerBanner"
        src="assets/BannerImage.jpg"
        alt="header banner"
      />
      <div id="container">
        <img
          class="headerProfileImage"
          src="assets/profileImage.jpg"
          width="128"
          height="128"
          alt="headerProfileImage"
        />
        <h2 class="headerName" alt="Mad's blog">Mad's blog</h2>
        <h2 class="headerFlippedName" alt="flipped Mad's blog">Mad's blog</h2>

        <div class="headerMenuWrapper">
          <nav class="headerNavbar">
            <div class="headerHamburguerMenu">
              <div class="line line1"></div>
              <div class="line line2"></div>
              <div class="line line3"></div>
            </div>

            <ul class="navList">
              <li class="navItem">
                <a class="navLink" href="/">Home</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="#">Github Projects</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="#">Hexazagono Podcast</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="about">About</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="#">Posts</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <article>
      <h1>Hello felas</h1>
    </article>

    <script
      type="text/javascript "
      src="dist/script/hamburguerMenu.js"
    ></script>
  </body>
</html>
