<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/master.css" />
    <link rel="stylesheet" href="styles/components/header.css" />
    <link rel="stylesheet" href="styles/components/hamburguer.css" />
    <link rel="stylesheet" href="styles/components/footer.css" />
    <link rel="stylesheet" href="styles/about.css" />
  </head>
  <body>
    <header>
      <img
        class="headerBanner"
        src="assets/bannerImage2.png"
        alt="header banner"
      />
      <div id="container">
        <img
          class="headerProfileImage"
          src="assets/profileImage.jpg"
          width="128"
          height="128"
          alt="headerProfileImage"
        />
        <h2 class="headerName" alt="Mad's blog">Mad's blog</h2>
        <h2 class="headerFlippedName" alt="flipped Mad's blog">Mad's blog</h2>

        <div class="headerMenuWrapper">
          <nav class="headerNavbar">
            <div class="headerHamburguerMenu">
              <div class="line line1"></div>
              <div class="line line2"></div>
              <div class="line line3"></div>
            </div>

            <ul class="navList">
              <li class="navItem">
                <a class="navLink" href="/">Home</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="#">Github Projects</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="#">Hexazagono Podcast</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="about">About</a>
              </li>
              <li class="navItem">
                <a class="navLink" href="#">Posts</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <article>
      <h2 style="text-align: center">About me</h2>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id enim
        nec ipsum mollis consectetur. Duis at mollis erat, eu aliquet quam.
        Donec in lectus posuere, laoreet felis eu, suscipit magna. Integer
        vestibulum blandit leo at imperdiet. Proin gravida eu lectus sit amet
        pretium. In mattis iaculis tempus. Morbi accumsan vel odio a interdum.
        Maecenas hendrerit, magna in blandit malesuada, libero felis vestibulum
        tortor, id pretium ante turpis non arcu. Quisque turpis nulla, feugiat
        at ipsum nec, consectetur tristique nibh. Sed in convallis eros, et
        vulputate lectus. Vivamus sed convallis nibh. Fusce dapibus orci eu
        metus commodo dapibus ut nec nulla.
      </p>
      <br />
      <p>
        Donec varius turpis eget tellus viverra, id semper dui varius. Morbi
        pellentesque ex nec augue vehicula, rhoncus vestibulum nisi maximus.
        Vestibulum congue tristique imperdiet. Nulla augue arcu, gravida non
        maximus tempus, hendrerit at purus. In ac dictum nisi, non porttitor
        lectus. Morbi a lectus vitae lacus lobortis pellentesque vel at justo.
        Praesent ornare pellentesque convallis.
      </p>
    </article>

    <footer>
      Made with ❤️ by axel
      <p>Banner image rights reserved to No Man's sky ©</p>
    </footer>

    <script
      type="text/javascript "
      src="dist/script/hamburguerMenu.js"
    ></script>
  </body>
</html>
