<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Titulo aqui / Title here</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/master.css" />
    <link rel="stylesheet" href="styles/post.css" />
    <link rel="stylesheet" href="styles/header.css" />
  </head>

  <body>
    <header>
      <img
        class="headerBanner"
        src="assets/BannerImage.jpg"
        alt="header banner"
      />
      <div id="container">
        <img
          class="headerProfileImage"
          src="assets/profileImage.jpg"
          width="128"
          height="128"
          alt="headerProfileImage"
        />
        <h3 class="headerName" alt="Mad's blog">Mad's blog</h3>
        <h3 class="headerFlippedName" alt="flipped Mad's blog">Mad's blog</h3>
        <div class="headerHamburgerMenu"></div>
      </div>
    </header>
    <div id="container">
      <h3 style="color: #f1f2da">Recent posts</h3>
      <div class="postCarrousel">
        <div class="card">
          <a href="#">
            <h1 class="postTitle">Titulo 1</h1>
            <h5 class="postDescription">
              <time datetime="2021-1-1 10:14">2021-1-1 10:14</time>
            </h5>
          </a>
        </div>
      </div>
      <h3 style="color: #f1f2da">Older posts</h3>
      <div class="postOld">
        <div class="card">
          <a href="#">
            <h1 class="postTitle">Titulo 1</h1>
            <h5 class="postDescription">
              <time datetime="2021-1-1 10:14">2021-1-1 10:14</time>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
              massa in libero commodo ultrices vel id est. Sed dignissim neque
              diam, at finibus justo euismod non. Maecenas tincidunt nisi ut
              diam faucibus, eget sagittis tortor dapibus. Etiam euismod massa
              nisl, ut congue elit gravida vehicula. Donec semper sagittis
              varius. Phasellus justo ex, pellentesque luctus imperdiet quis,
              consectetur eget quam. Ut euismod nibh nec dictum porttitor. Nulla
              sed massa a arcu auctor tristique. Etiam vitae tellus at justo
              molestie venenatis nec eget justo. In fringilla ac augue sed
              rhoncus. Donec ultrices sollicitudin sodales. Nulla facilisi.
              Vestibulum ac ligula augue.
            </h5>
          </a>
        </div>
      </div>
    </div>

    <footer>Made with ❤️ by axel</footer>

    <script
      type="text/javascript "
      src="../../dist/script/hamburguerMenu.js"
    ></script>
  </body>
</html>
